.spinner{
  height:50px;
  width:50px;
  margin: 10px auto;

  
  border:5px solid white;
  border-top-color:blue;
  border-radius:50%;
  
  animation:spin 1s infinite linear;

}

@keyframes spin{
  0%{
    transform:rotate(0deg);
  }
  100%{
    transform:rotate(360deg);
  }
}